In [4]:
import time
import math
import gc
import pydeck as pdk
import pandas as pd
import psycopg2

from geopy.distance import geodesic
from geopy.point import Point

from typing import Optional
from urllib.parse import quote
from datetime import datetime, timedelta

from sqlmodel import Field, SQLModel, create_engine, Session, select
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import and_, or_, desc, text
from pydeck.types import String

from polygons import *

In [3]:
lats = 0
lngs = 0

for lat, lng in restrictedlimit:
    lats += lat
    lngs += lng

lats/len(restrictedlimit)
lngs/len(restrictedlimit)

104.71874599999998

In [5]:
pswd = 'm4r1t1m3'
encoded_password = quote(pswd)
DATABASE_URL = f"postgresql://postgresadmin:{encoded_password}@marineai.cxwk8yige5f2.ap-southeast-5.rds.amazonaws.com:5432/pnav"

In [6]:
def get_pgEngine():
    engine = create_engine(
        DATABASE_URL, 
        pool_size=10,
        max_overflow=20,
        pool_timeout=30,  # seconds    
        # echo=True
    )  # echo=True for logging SQL

    return engine

In [7]:
# query all vessel in restricted area for more that 2 hours
query = text("""
    SELECT *
    FROM public.ais_vesselinrestrictzone
    WHERE "tsOut" IS NULL AND "latitude" >= :lat_min AND "latitude" <= :lat_max
        AND NOW() - "tsDetected" > INTERVAL '2 hours'
        --AND ("navStatus" = 1)
        AND ("sog" <= 0.7)
    ORDER BY "tsDetected" DESC        
""")

# Define parameters
params = {"lat_min": -90, "lat_max": 90, "ts_min": datetime.utcnow() - timedelta(hours=48)}

restrict_df = pd.read_sql(query, con=get_pgEngine(), params=params)

In [10]:
mmsi = restrict_df['mmsi'].tolist()

In [11]:
mmsi

[511100024,
 750307000,
 352004670,
 613742000,
 312463000,
 441939000,
 750931000,
 371824000,
 570292000,
 533110736,
 533045400,
 511227000,
 314100000,
 565033000,
 667001372,
 668116286,
 352001713,
 629009632,
 533110708,
 352003372,
 533000089,
 511101277,
 668116242,
 574284000,
 677088500,
 677069500,
 457274000,
 352002250,
 533130779,
 533110714,
 677077000,
 533000313,
 457593000,
 620999316,
 667001444,
 457634000,
 312352000,
 457578000,
 610107031,
 525901028,
 668116319,
 307122000,
 422231000,
 632001129]

In [21]:
import duckdb


duckdb.sql("INSTALL spatial")
duckdb.sql("LOAD spatial")

res = duckdb.sql(f'''
    SELECT ST_Distance_Sphere(ST_Point({1.8672}, {104.71428333333333}), ST_Point({1.863315}, {104.71052833333333})) AS geom
''').fetchone()

distance = res[0] / 1852

distance

0.3243202533325512

In [51]:
query = text("""
    SELECT p.*, s."shipType", s."shipTypeDesc", s."shipName", s."callsign", s."imo",
        CASE
            WHEN s."shipType" >= 40 AND s."shipType" < 50 THEN 'hs_craft'
            WHEN s."shipType" >= 50 AND s."shipType" < 60 THEN 'tug'
            WHEN s."shipType" >= 60 AND s."shipType" < 70 THEN 'passenger'
            WHEN s."shipType" >= 70 AND s."shipType" < 80 THEN 'cargo'
            WHEN s."shipType" >= 80 AND s."shipType" < 90 THEN 'tanker'
            ELSE 'others'
        END AS "shipcatagory"    
    FROM public.ais_vesselinrestrictzone p
    LEFT JOIN public.ais_static s on s.mmsi = p.mmsi
    WHERE "tsOut" IS NULL AND "latitude" >= :lat_min AND "latitude" <= :lat_max
        AND NOW() - "tsDetected" > INTERVAL '3 hours'
        --AND ("navStatus" = 1)
        AND ("sog" <= 0.7)
    ORDER BY "tsDetected" DESC        
""")

# Define parameters
params = {"lat_min": -90, "lat_max": 90,}

restrict_df = pd.read_sql(query, con=get_pgEngine(), params=params)  
# restricted_area_vessels = restrict_df.to_dict(orient='records')  
mmsi_lst = restrict_df['mmsi'].tolist()

In [65]:
restrict_df

,id,tsDetected,mmsi,navStatus,navStatusDesc,longitude,latitude,rot,cog,sog,trueHeading,tsCurrent,tsOut,zone,shipType,shipTypeDesc,shipName,callsign,imo,shipcatagory
0,241,2025-11-07 12:27:56.564,677019100,1,At anchor,104.704652,1.923497,-1.116007,64.5,0.0,342.0,2025-11-07 16:15:55.247,None,0,80,Tanker all ships of this type,PEACE II,5IM291,9205079,tanker
1,237,2025-11-07 12:15:29.713,570313000,1,At anchor,104.883367,2.140077,0.000000,238.9,0.0,348.0,2025-11-07 16:18:26.873,None,0,89,Tanker No additional information,MT LBS@@@@,8Q8191@,9271406,tanker
2,227,2025-11-07 11:24:23.251,538004667,0,Under way using engine,104.773792,1.887870,0.000000,112.9,0.2,359.0,2025-11-07 16:16:51.701,None,0,70,Cargo all ships of this type,M/V CARAVOS GLORY,V7YI5,9584322,cargo
3,225,2025-11-07 10:59:31.266,655091441,1,At anchor,104.668820,1.738040,0.000000,86.5,0.1,328.0,2025-11-07 14:50:31.260,None,0,89,Tanker No additional information,YFABULOUS@,7QS177@,9276585,tanker
4,218,2025-11-07 10:30:47.885,677013600,8,Under way sailing,104.737013,1.830197,0.000000,360.0,0.0,348.0,2025-11-07 16:16:59.043,None,0,80,Tanker all ships of this type,HANA I,5IM236,1105417,tanker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,15,2025-11-05 06:17:42.158,457578000,15,Undefined or default,104.680080,1.947400,-731.386484,104.5,0.1,511.0,2025-11-05 06:17:42.158,None,0,0,Not available,JESSLYN,JVMC8,9194828,others
117,6,2025-11-03 23:49:45.906,668116319,1,At anchor,104.748733,1.841987,0.000000,302.2,0.0,5.0,2025-11-03 23:49:45.906,None,0,80,Tanker all ships of this type,HELOISE,S9A3119,1074852,tanker
118,3,2025-11-03 14:05:41.775,307122000,1,At anchor,104.837823,2.092363,-731.386484,360.0,0.1,511.0,2025-11-07 15:56:35.304,None,0,80,Tanker all ships of this type,AVENGER BOW@@@@,P4Z72@@,9005338,tanker
119,2,2025-11-03 13:15:02.183,422231000,4,Constrained by her draught,104.826477,2.048307,0.000000,123.3,0.2,341.0,2025-11-03 13:15:02.183,None,0,89,Tanker No additional information,DIAMOND II,EPA3020,9218478,tanker
120,1,2025-11-03 10:42:59.330,632001129,1,At anchor,104.698567,2.065753,-731.386484,245.0,0.1,511.0,2025-11-07 09:35:22.189,None,0,9,Reserved for future use 9,AMIL@,3X2101@,9308778,others

In [53]:
t = restrict_df[restrict_df['mmsi'] == 677019100]
t.iloc[0]['mmsi']

677019100

In [64]:
sts = []

for mmsi in mmsi_lst:
    rec = restrict_df[restrict_df['mmsi'] == mmsi]

    dist_nm = duckdb.sql(f'''
        SELECT *
        FROM restrict_df
        WHERE ST_Distance_Sphere(ST_Point(latitude, longitude), ST_Point({rec.iloc[0]['latitude']}, {rec.iloc[0]['longitude']}))/1852 < 1.0
            AND mmsi != {rec.iloc[0]['mmsi']}
    ''').fetchdf()

    if len(dist_nm) != 0:
        mmsi_dist_nm = dist_nm['mmsi'].tolist()

        if mmsi not in sts:
            sts.append(mmsi)

        for i in mmsi_dist_nm:
            if i not in sts:
                sts.append(i)




sts

[677019100,
 574395000,
 538004667,
 620999800,
 677013600,
 352004801,
 533133481,
 668116331,
 677088500,
 677069500,
 533110714,
 677049000,
 668116319,
 677020600,
 457900857,
 371824000,
 457593000,
 457634000,
 457578000,
 570294000,
 629009384,
 457364000,
 533110708,
 312352000,
 620800028,
 669613000,
 533045400,
 667001372,
 620999317,
 632001103,
 632001115,
 613702404,
 629009414,
 629009490,
 533000089,
 667002403,
 352002250,
 750777000,
 750907000,
 304803000,
 636022979,
 352006246,
 511101277,
 563207400,
 352001713,
 306723000,
 750269000,
 677100200,
 422231000,
 306699000,
 669680000,
 629009044,
 750332000,
 613081409,
 572816220,
 533000313,
 632001101,
 636021266,
 533110736,
 668116286,
 306124000,
 307122000,
 511100024,
 352003372,
 312463000,
 511227000,
 668116242,
 667001444]